/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

}

/* Tablet & mobile */
/* CSS chung cho cả tablet và mobile => tối ưu code */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* ẩn navbar với tablet và mobile */
    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 20px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        /* Để bỏ phần overlay đi thì dùng => nhưng nó vẫn còn tồn tại trên màn hình => không thể bấm được các button bên dưới*/
        opacity: 0;
        /* Action xử lý vấn đề là thêm để giúp nó mất đi khỏi trên màn hình */
        visibility: hidden;
        /* Thêm transition cho mượt hơn với .menu-checkbox:checked ~ .menu-overlay */
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        padding: 60px;
        /* width sẽ chiếm 60% */
        inset: 0 40% 0 0;
        background: #fff;
        /* Cao hơn overlay */
        z-index: 2;
        /* Cho nso khuất khỏi màn hình */
        transform: translateX(-100%);
        /* Cho hiệu ứng với .menu-checkbox:checked ~ .menu-drawer */
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer #tablet-nav {
        margin-top: 32px;
        display: block;
        margin-left: 0;
    }

    .menu-drawer #tablet-nav a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hide-on-tablet {
        visibility: hidden;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }
}